<template>
    <div class="container">        
        <router-view></router-view>
        <div class="columns">
            <div class="column is-one-quarter">
                <my-report-list></my-report-list>
            </div>
            <div class="column">
                <component v-bind:is="currentReport"></component>
            </div>
        </div>
    </div>
</template>
<script>
    import MyReportList from '@/components/reports/reportlist.vue';
    import TeamReportList from '@/components/reports/reports_list.vue';
    import Hours from '@/components/reports/individual/Hours.vue';
    import Issues from '@/components/reports/individual/Issues.vue';
    import Availability from '@/components/reports/individual/Availability.vue';
    
    export default {
        components: { MyReportList, TeamReportList, Hours, Issues, Availability },
        data() {
            return {
                
            }
        },
        computed: {
            currentReport() {
                return this.$store.state.reports.selectedReport;
            }
        }
    }
</script>