<template>
    <div class="card has-text-centered is-wide is-desktop" style="margin-left: auto; margin-right: auto; margin-top: 15%; padding-bottom: 3%;">
        <div class="card-content">
            <p class="title">Login</p>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input v-model="email" class="input" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input v-model="password" class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control is-pulled-right">
                    <button @click="login" class="button is-success">
                        Login
                    </button>
                    &nbsp;<br />
                </p>
            </div>
        </div>
        
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                name: '',
                email: '',
                password: ''
            }
        },
        methods: {
            login() {
                var user = { name: this.name, email: this.email, password: this.password };
                localStorage.setItem('user', JSON.stringify(user));
                
                // attempt to login to backend
                if (process.env.REMOTE_ENABLE) {
                    const config = {
                        withCredentials: true,
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        auth: {
                            username: user.email,
                            password: user.password
                        }
                    };

                    var url = 'http://'+process.env.REMOTE_URL+':'+process.env.REMOTE_PORT+'/_session';
                    axios.post(url, {
                        username: user.email,
                        password: user.password
                    }, config)
                    .then((response) => {
                        if (response.data.ok) {
                            localStorage.setItem('Auth', true);
                            // get users name & group
                            this.$people.find({
                                selector: {email: { $eq: this.email }},
                                sort: ['_id']
                            }).then((result) => {
                                if (result.docs.length > 0) {
                                    user.name = result.docs[0].name;
                                    localStorage.setItem('user', JSON.stringify(user));
                                    location.reload();
                                    this.$router.push(this.$route.query.redirect || '/');
                                }
                            }).catch((err) => {
                                console.log(err);
                            });
                            this.$router.push(this.$route.query.redirect || '/');
                        }
                    }).catch((error) => {
                        console.log(error);
                    });
                }
            }
        }
    }
</script>
<style>
.card.is-wide {
    width: 550px;
}

.card-footer {
    padding: 1rem 0;
    border: none;
    font-size: .9rem;
    color: lighten(black, 50%);
}
</style>
