<template>
    
</template>
<script>
    export default {
         mounted() {
             localStorage.setItem('Auth', false);
             var user = {};
             user.name = '';
             user.password = '';
             localStorage.setItem('user', JSON.stringify(user));
             location.reload();
             this.$router.push(this.$route.query.redirect || '/');
         }   
    }
</script>