<template>
    <div>
        <h1 class="subtitle">Conflicts</h1>
        <conflict-list :conflicts="stories"></conflict-list>
    </div>
</template>
<script>
    import ConflictList from '@/components/conflicts/list.vue';
    export default {
        components: {
            ConflictList
        },
        data() {
            return {
                stories: []
            }
        },
        mounted() {
            this.retrieveStories();
        },
        computed: {
            getUserName() {
                if ((localStorage.getItem("user") != null) && (localStorage.getItem("Auth"))) {
                    var user = JSON.parse(localStorage.getItem('user'));
                    return user.name;
                }
                return false;
            },
            project() {
                return this.$store.getters.getSelectedProject;
            }
        },
        methods: {
            retrieveStories() {
                this.$localStories.allDocs({ conflicts: true, include_docs: true, attachments: false })
                .then((result) => {
                    _.forEach(result.rows, (r) => {
                        if (r._conflicts) {
                            console.log("conflict found");
                            //this.stories.push(r)
                        }
                    });
                }).catch((err) => {
                    console.log(err);
                })
            },
        }
    }
</script>