<template>
    <tr :class="{ completed: completedStatus }">
        <td class="is-capitalized">{{task.title}}</td>
        <td class="is-capitalized">
            <div class="field">
                <div class="select">
                    <select v-model="priority" @change="savePriority()">
                        <option value=''>Select...</option>
                        <option v-for="(item, id) in priorities" :key="id" :value="item">{{item}}</option>
                    </select>
                </div>
            </div>
        </td>
        <td class="is-capitalized">{{task.assigned}}</td>
        <td class="is-capitalized">
            <div class="field">
                <div class="select">
                    <select v-model="status" @change="saveStats()">
                        <option value=''>Select...</option>
                        <option v-for="(item, id) in statuses" :key="id" :value="item">{{item}}</option>
                    </select>
                </div>
            </div>
        </td>
        <td v-if="completedStatus"><i class="fa fa-check" aria-hidden="true"></i></td>
        <td v-else></td>
    </tr>
</template>
<script>
    import axios from 'axios';
    export default {
        props: ['task', 'story', 'id'],
        data() {
            return {
                editedTask: {},
                response: {
                    show: false,
                    status: '',
                    message: '',
                    error: ''
                },
                priority: '',
                status: '',
                time: {
                    expected: 0,
                    actual: 0
                }
            }
        },
        mounted() {
            this.priority = this.task.priority;
            this.status = this.task.status;
        },
        computed: {
            completedStatus() {
                if(this.task.status == 'Deployed') {
                    return true;
                } 
                return false;
            },
            priorities() {
                return this.$store.getters.getPriorities;
            },
            statuses() {
                return this.$store.getters.getStatuses;
            }
        },
        methods: {
            savePriority() {
                this.$localStories.get(this.story._id).then((doc) => {
                    doc.updated_at = moment().utc().valueOf(); // set updated date
                    var task = doc.tasks[this.id]; // get the current task by id out of the doc
                    task.priority = this.priority;
                    task.time = this.time;
                    doc.tasks[this.id] = task; // reassign/overwrite task values
                    return this.$localStories.put(doc);
                }).then((response) => {
                    if (response.ok) {
                        var url = "https://hooks.slack.com/services/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";
                        var user = JSON.parse(localStorage.getItem('user'));
                        var message = {
                            "text": user.name+" set priority on task "+this.task.title+" in project "+this.story.project+", story "+this.story.title+" to "+this.priority
                        }
                        
                        axios.post(url, JSON.stringify(message))
                            .then((response) => {
                                // message posted to slack
                        })
                    }
                }).catch((err) => {
                    console.log(err);
                });
            },
            saveStats() {
                this.$localStories.get(this.story._id).then((doc) => {
                    doc.updated_at = moment().utc().valueOf(); // set updated date
                    var task = doc.tasks[this.id]; // get the current task by id out of the doc
                    task.time = this.time;
                    task.status = this.status
                    doc.tasks[this.id] = task; // reassign/overwrite task values
                    return this.$localStories.put(doc);
                }).then((response) => {
                    if (response.ok) {
                        this.response.show = true;
                        this.response.status = true;
                        this.response.message = "Record updated";
                        
                        var url = "https://hooks.slack.com/services/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";
                        var user = JSON.parse(localStorage.getItem('user'));
                        var message = {
                            "text": user.name+" set status on task "+this.task.title+" in project "+this.story.project+", story "+this.story.title+" to "+this.status
                        }
                        
                        axios.post(url, JSON.stringify(message))
                            .then((response) => {
                                // message posted to slack
                        })
                    } else {
                        this.response.show = true;
                        this.response.status = false;
                        this.response.message = "An error occurred saving";
                        this.response.error = response.error;
                    }
                }).catch((err) => {
                    console.log(err);
                });
            },
        }
    }
</script>
<style>
    .list-item { border-bottom: 2px solid black; padding: 5px 0; }
    .completed {
        text-decoration: line-through;
        background-color: #ddf7dd;
    }
    .loe {
        width: 35px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        text-align: center;
    }
</style>