<template>
    <div>
        <table class="table is-striped is-fullwidth">
            <thead>
            <th>Story</th>
            <th>Story Owner</th>
            <th>Task</th>
            <th>Status</th>
            <th>Priority</th>
            </thead>
            <tbody>
                <tr v-for="(item, idx) in tasks" :key="idx" @click="openStory(item.story)">
                    <td>{{item.title}}</td>
                    <td>{{item.assigned}}</td>
                    <td>{{item.task.title}}</td>
                    <td>{{item.task.status}}</td>
                    <td>{{item.task.priority}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default {
        components: {
        },
        data() {
            return {
                tasks: [
                ]
            }
        },
        mounted() {
            this.retrieveStories();
        },
        computed: {
            getUserName() {
                if ((localStorage.getItem("user") != null) && (localStorage.getItem("Auth"))) {
                    var user = JSON.parse(localStorage.getItem('user'));
                    return user.name;
                }
                return false;
            },
            project() {
                return this.$store.getters.getSelectedProject;
            }
        },
        methods: {
            retrieveStories() {
                this.$localStories.find({
                    selector: {
                        project: {
                            $eq: this.$store.getters.getSelectedProject
                        },
                        assigned: {
                            $eq: this.getUserName
                        },
                        status: {
                            $nin: [
                                'Archived',
                                'Will Not Fix'
                            ]
                        }
                    },
                    sort: [
                        '_id'
                    ]
                }).then((result) => {
                    var tasks = [
                    ];
                    for (var a = 0; a < result.docs.length; a++) {
                        if (result.docs[a].tasks.length > 0) {
                            _.forEach(result.docs[a].tasks, (t) => {
                                if (t.assigned = this.getUserName) {
                                    var task = {};
                                    task.story = result.docs[a]._id;
                                    task.title = result.docs[a].title;
                                    task.assigned = result.docs[a].assigned;
                                    task.task = t;
                                    tasks.push(task);
                                }
                            });
                        }

                        this.tasks = _.uniqBy(tasks, 'story');
                    }
                    //this.stories = stories;
                }).catch((err) => {
                    console.log(err);
                });
            },
            openStory(id) {
                this.$router.push({
                    path: '/stories/view/' + id
                });
            }
        }
    }
</script>