<template>
    <div class="container">
        <div class="is-pulled-right">
            <a href="/stories/create" to="newstory"  class="button is-dark">
                <i class="fa fa-plus" aria-hidden="true"></i>
                &nbsp;New
            </a>
        </div>
        <h1 class="title">Stories</h1>
        <br />
        <br />
        <router-view></router-view>
    </div>
</template>
<script>
    
</script>