<template>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{conflict.title}}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                {{conflict.description}}
                <br>
                <time :datetime="conflict.updated_at">{{conflict.updated_at}}</time>
                <div><strong>Owner:</strong> {{conflict.owner}}</div>
                <div><strong>Assigned:</strong> {{conflict.assigned}}</div>
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" v-on:click="merge" class="card-footer-item">Merge</a>
            <a href="#" class="card-footer-item">Cherry Pick</a>
            <a href="#" v-on:click="deleteMe" class="card-footer-item">Delete</a>
        </footer>
    </div>
</template>
<script>
    export default {
        props: ['conflict'],
        methods: {
            deleteMe() {
                this.$localStories.get(this.conflict._id).then((doc) => {
                    return this.$localStories.remove(doc._id, doc._rev);
                }).catch((e) => {
                    if (e) {
                        console.log(e);
                    }
                });
            },
            merge() {
                console.log('merge revision');
            }
        }
    }
</script>
