<template>
    <div>
        <div class="panel">
            <p class="panel-heading">
                Reports
            </p>
            <p class="panel-tabs">
                <a v-bind:class="{ 'is-active': selectedReportType == 'Individual' }" @click="SetReportType('Individual')">Individual</a>
                <a v-bind:class="{ 'is-active': selectedReportType == 'Team' }" @click="SetReportType('Team')">Team</a>
            </p>
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input class="input is-small" type="text" placeholder="search">
                    <span class="icon is-small is-left">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </p>
            </div>
          
            <a v-for="(item, idx) in SelectedReports" :key="idx" class="panel-block" @click="SelectReport(item)">
                <span class="panel-icon">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </span>
                {{item}}
            </a>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                teamReports: ['Burn Up', 'Trends', 'Burn Down', 'Availability'],
                myReports: ['Availability', 'Hours', 'Issues' ],
                selectedReportType: 'Individual',
            }
        },
        methods: {
            SetReportType(type) {
                this.selectedReportType = type;
            },
            SelectReport(item) {
                //this.selectedReport = item;
                this.$store.dispatch('SetCurrentReport', item);
            }
        },
        computed:  {
            SelectedReports() {
                if (this.selectedReportType == 'Individual') {
                    return this.myReports;
                } else {
                    return this.teamReports;
                }
            },
        }
    }
</script>