<template>
    <div>
        <h2 class="subtitles">All Stories in project marked as archived or will not fix</h2>
        <user-list v-for="(item, idx) in stories" :key="idx" :item="item"></user-list>
    </div>
</template>
<script>
    import UserList from '@/components/stories/listbyuser.vue';
    export default {
        components: {
            UserList
        },
        data() {
            return {
                stories: []
            }
        },
        mounted() {
            this.retrieveStories();
        },
        computed: {
            getUserName() {
                if ((localStorage.getItem("user") != null) && (localStorage.getItem("Auth"))) {
                    var user = JSON.parse(localStorage.getItem('user'));
                    return user.name;
                }
                return false;
            },
            project() {
                return this.$store.getters.getSelectedProject;
            }
        },
        methods: {
            retrieveStories() {
                this.$localStories.find({
                    selector: {
                        project: { $eq: this.$store.getters.getSelectedProject },
                        status: { $eq: 'Archived' }
                    },
                    sort: ['_id']
                }).then((result) => {
                    var stories = [];
                    for(var a=0; a<result.docs.length; a++) {
                        stories.push(result.docs[a]);
                    }
                    this.stories = stories;
                }).catch((err) => {
                    console.log(err);
                });
            },
        }
    }
</script>