<template>
    <div>
        <div class="columns is-multiline">
            <conflict-card v-for="(item, key) in conflicts" :key="key" :conflict="item" class="column is-4"></conflict-card>
        </div>
    </div>
</template>
<script>
    import conflictCard from '@/components/conflicts/conflict_card.vue';
    
    export default {
        components: {
            conflictCard
        },
        props: ['id'],
        data() {
            return {
                story: {},
                people: [],
                conflicts: []
            }
        },
        mounted() {
            this.retrieveStory();            
        },
        computed: {
            createdDate() {
                return moment(this.story.created_at).format('ddd, MMM, Do YYYY h:mm:ss a');
            },
            updatedDate() {
                return moment(this.story.updated_at).format('ddd, MMM, Do YYYY h:mm:ss a');
            },
            priorities() {
                return this.$store.getters.getPriorities;
            },
            statuses() {
                return this.$store.getters.getStatuses;
            }
        },
        methods: {
            retrieveStory() {
                this.$localStories.get(this.id, { conflicts: true }).then((doc) => {
                    var conflicts = doc._conflicts;
                    _.forEach(conflicts, (c) => {
                        this.$localStories.get(this.id, { rev: c }).then((doc) => {
                            this.conflicts.push(doc);
                        });
                    })
                }).catch ((err) => {
                    console.log(err);
                });
            },
        }
    }
</script>