<template>
    <div class="container">
        <h2 class="subtitle">New Story</h2>
        <div v-if="error">
            <ul class="has-text-danger">
                <li>{{error}}</li>
            </ul>
        </div>
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="" v-model="title">
                    </div>
                </div>                

                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <ckeditor :editor="editor" v-model="description" :config="editorConfig" class="editor" textarea placeholder="Include as much detail as possible, always remember to include building IDs for buildings that need attention or you have questions on so we can look into them faster.">
                        </ckeditor>
                        <p class="help is-italic has-text-grey">You can only edit this now, you will not be able to change this.</p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Assigned To</label>
                    <div class="control">
                        <select class="input is-select is-required" v-model="assigned">
                            <option value=''>Select...</option>
                            <option v-for="person in people" :key="person.name" :value="person.name">{{person.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Project</label>
                    <div class="control">
                        <input class="input" type="text" disabled :value="currentProject" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">Status</label>
                    <div class="control">
                        <select class="input is-select is-required" v-model="status">
                            <option value=''>Select...</option>
                            <option v-for="(item, id) in statuses" :key="id" :value="item">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Priority</label>
                    <div class="control">
                        <select class="input is-select is-required" v-model="priority">
                            <option value=''>Select...</option>
                            <option v-for="(item, id) in priorities" :key="id" :value="item">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" v-on:click="save">Save</button>
                    </div>
                    <div class="control">
                        <button class="button is-text" v-on:click="cancel">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import axios from 'axios';
    export default {
        data() {
            return {
                title: '',
                description: '',
                error: '',
                storyCount: 0,
                assigned: '',
                status: 'New',
                priority: 'medium',
                people: [],
                editor: ClassicEditor,
                editorConfig: {}
            }
        },
        created() {
            this.$localStories.find({
                selector: {
                    project: this.$store.getters.getSelectedProject
                },
                fields: [
                    '_id'
                ]
            }).then((result) => {
                this.storyCount = result.docs.length;
            }).catch((error) => {
                console.log(error);
            });

            this.getPeople();
        },
        methods: {
            save() {
                var storyCount = this.storyCount;
                storyCount++; // auto increment

                // save me
                var story = {};
                story._id = String(moment().utc().valueOf());
                story.title = this.title;
                story.description = this.description;
                story.project = this.$store.getters.getSelectedProject;
                story.owner = this.owner;
                story.assigned = this.assigned;
                story.status = this.status;
                story.priority = this.priority;
                story.tasks = [];
                story.files = [];
                story.comments = [];
                story.due_date = '';
                story.expected = 0;
                story.actual = 0;
                story.created_at = moment().utc().valueOf();
                story.updated_at = moment().utc().valueOf();

                if (this.title.length < 5) {
                    this.error = 'Title not long enough';
                    return;
                }

                if (this.description.length < 4) {
                    this.error = 'Description not descriptive enough';
                    return;
                }

                if (this.status == '') {
                    this.status = 'New';
                }

                if (this.priority == '') {
                    this.priority = 'Medium';
                }

                this.$localStories.put(story).then((resp) => {
                    if (resp.ok) {
                        var url = "https://hooks.slack.com/services/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";
                        var user = JSON.parse(localStorage.getItem('user'));
                        var message = {
                            "text": user.name + " created a new story: " + story.title + " in project " + story.project
                        }

                        axios.post(url, JSON.stringify(message))
                            .then((response) => {
                                //console.log(response);
                                //message posted to slack
                            });

                        // if this is newly assigned, inform the assignee if possible
                        var users = this.$store.getters.getUsers;
                        var inbox = '';

                        _.forEach(users, (u) => {
                            if (this.newAssigned == u.name) {
                                inbox = u.key;
                            }
                        });

                        // try to send
                        if (inbox) {
                            var message = this.story.owner + " assigned " + this.story.title + " to you. (http://agile.overlayconsulting.co/stories/view/" + this.id + ")";
                            var url = "https://slack.com/api/chat.postMessage?token=xoxp-295154775665-296736202695-609619777188-2a14c22ebae3f37ea758e8c2e4bc6c36&as_user=false&channel=" + inbox + "&text=" + JSON.stringify(message);

                            axios.post(url)
                                .then((response) => {
                                    console.log(response.data);
                                });
                        }
                    }
                });
                this.$router.push('/stories/list');
            },
            cancel() {
                this.$router.push('/stories/list');
            },
            getPeople() {
                this.$people.allDocs({
                    include_docs: true,
                    attachements: false
                }).then((result) => {
                    var people = [
                    ];
                    for (var a = 0; a < result.rows.length; a++) {
                        people.push({
                            name: result.rows[a].doc.name
                        });
                    }
                    this.people = people;
                }).catch((err) => {
                    console.log(err);
                });
            }
        },
        computed: {
            currentProject() {
                return this.$store.getters.getSelectedProject;
            },
            owner: {
                get() {
                    var user = JSON.parse(localStorage.getItem('user'));
                    return user.name;
                },
                set() {
                    // um?
                }
            },
            priorities() {
                return this.$store.getters.getPriorities;
            },
            statuses() {
                return this.$store.getters.getStatuses;
            }
        }
    }
</script>
<style>
    select {
        text-transform: capitalize;
    }
</style>
