<template>
    <div id="file-drag-drop">
        <div v-if="success" class="notification is-success">
            <p>Files Uploaded successfully, they will be processed and you should be notified soon.</p>
        </div>
        <div v-if="error" class="notification is-danger">
            <p>Upload failed. ({{error_message}})</p>
        </div>
        
        <form ref="fileform">
            <span class="drop-files">Drop new files here!</span>
        </form>
        <a class="button is-info" v-on:click="submitFiles()" v-show="files.length > 0">Submit</a>
    </div>
</template>
<script>
    export default {
        props: ['story'],
        data() {
            return {
                DandDcapable: false,
                files: [],
                uploadPercentage: 0,
                success: false,
                error: false,
                error_message: '',
                url: ''
            }
        },
        mounted() {
            this.DandDcapable = this.isCapable();

            if (this.DandDcapable) {
                ['drag', 'dragstart', 'dragend', 'dragover',
                 'dragenter', 'dragleave', 'drop']
                .forEach(function (evt) {
                    this.$refs.fileform.addEventListener(evt, function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                    }.bind(this), false);
                }.bind(this));
            }
      
            this.$refs.fileform.addEventListener('drop', ((e) => {
                for (let i = 0; i < e.dataTransfer.files.length; i++) {
                    //this.files.push(e.dataTransfer.files[i]);
                    var fileInfo = e.dataTransfer.files[i];
                    this.$localStories.putAttachment(this.story._id, fileInfo.name, this.story._rev, fileInfo, fileInfo.type ).then((doc) => {
                        return this.$localStories.getAttachment(doc, fileInfo.name);
                    })
                }
            }));
        },
        methods: {
            isCapable() {
                var div = document.createElement('div');
                return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
            },
            removeFile(key) {
                this.files.splice(key, 1);
            },
        }
    }
</script>
<style>
    form{
        display: block;
        height: 125px;
        width: 100%;
        background: #ececec;
        margin: auto;
        margin-top: 40px;
        text-align: center;
        line-height: 200px;
        border-radius: 4px;
        border: 1px solid #ababab;
    }
    div.file-listing{
        width: 200px;
        margin: auto;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    div.file-listing img{
        height: 100px;
    }
    .progress {
        width: 100%;
    }
</style>