<template>
    <div class="column is-3">
        <div class="card" style="padding: 10px;">
            <div class="card-image">
                <figure class="image is-48x48" style="margin-left:auto; margin-right: auto;">
                    <img v-if="url" :src="thumbnail" />
                </figure>
            </div>
            <div class="card-content" style="margin-top: 10px; text-align:center;">
                <a :href="url">{{ name }}</a>
                <!--<a v-on:click="removeFile( key )" class="delete is-danger"></a>-->
            </div>
        </div>
        <img id="pdfIcon" src="../../../assets/img/pdf-preview.png" class="hidden-icon">
        <img id="csvIcon" src="../../../assets/img/csv-preview.png" class="hidden-icon">
        <img id="excelIcon" src="../../../assets/img/xcel-preview.png" class="hidden-icon">
    </div>
</template>
<script>
    var blobUtil = require('blob-util');
    export default {
        props: [
            'item', 'name', 'doc'
        ],
        data() {
            return {
                url: '',
                type: '',
                thumbnail: '' 
            }
        },
        mounted() {
            this.$localStories.getAttachment(this.doc._id, this.name).then((blob) => {
                this.url = blobUtil.createObjectURL(blob);
                
                var img = new RegExp(/png|jpg/);
                if (this.name.match(img)) {
                    this.thumbnail = blobUtil.createObjectURL(blob);
                }
            }).catch((err) => {
                console.log(err);
            });
        },
        watch: {
            url() {
                var pdf = new RegExp(/pdf/);
                if (this.name.match(pdf)) {
                    this.type = 'pdf';
                    var img = document.getElementById('pdfIcon');
                    this.fileToBlob(img);
                }
                
                var csv = new RegExp(/csv/);
                if (this.name.match(csv)) {
                    this.type = 'csv';
                    var img = document.getElementById('csvIcon');
                    this.fileToBlob(img);
                }
                
                var xcl = new RegExp(/xls/);
                if (this.name.match(xcl)) {
                    this.type = 'excel';
                    var img = document.getElementById('excelIcon');
                    this.fileToBlob(img);
                }
            }
        },
        methods: {
            fileToBlob(img) {
                blobUtil.imgSrcToBlob(img.src).then((blob) => {
                    var blobURL = blobUtil.createObjectURL(blob);
                    this.thumbnail = blobURL;
                });
            }
        }
    }
</script>
<style>
    .hidden-icon {
        display: none;
    }
    .card-content {
        font-size: .75rem;
        padding: .75rem;
        overflow: hidden;
    }
</style>