<template>
    <div class="container">
        <div class="is-pulled-right">
            <router-link class="button is-small is-dark" to="/stories/create"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp New</router-link>
        </div>
        <h2 class="subtitles">All Stories</h2>
        <div class="tabs is-centered is-boxed">
            <ul>
                <li v-for="element in tabs" :id="element.id" :class="{'is-active' : activeTab == element.id}">
                    <a href="javascript:void(0);" @click="tabClick(element.id)">
                        <Tab :name="element.name" :status="element.name" :count="1"></Tab>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <Tabs :status="tabContent"></Tabs>
        </div>
    </div>
</template>
<script>
    import Tab from '@/components/stories/tab.vue';
    import Tabs from '@/components/stories/tabs.vue';
    
    export default {
        components: {
            Tabs,
            Tab
        },
        data() {
            return {
                tabs: [
                    {id: '1', name: 'New'},
                    {id: '2', name: 'Backlog'},
                    {id: '3', name: 'In Development'},
                    {id: '4', name: 'In Design'},
                    {id: '5', name: 'In Test'},
                    {id: '6', name: 'Ready For Deploy'},
                    {id: '7', name: 'Deployed'}
                ],
                content: [
                    { id: '1', content: 'New' },
                    { id: '2', content: 'Backlog' },
                    { id: '3', content: 'In Development' },
                    { id: '4', content: 'In Design' },
                    { id: '5', content: 'In Test' },
                    { id: '6', content: 'Ready For Deploy' },
                    { id: '7', content: 'Deployed' },
                ],
                activeTab: '2',
                tabContent: 'backlog'
            }
        },
        computed: {
            stories() {
                return this.$store.getters.getStories;
            },
            project() {
                return this.$store.getters.getSelectedProject;
            }
        },
        watch: {
            project() {
                this.sync();
            }
        },
        mounted() {
            this.sync();
        },
        methods: {
            tabClick: function (id)
            {
                this.activeTab = id;
                var content = this.content.find(function(obj) { return obj.id === id; });
                this.tabContent = content.content;
            },
            sync() {
                this.$localStories.liveFind({
                    selector: {project: this.$store.getters.getSelectedProject},
                    sort: [{ priority: 'desc'}],
                    aggregate: true
                }).on('update', (update, aggregate) => {
                    this.retrieveStories();
                }).on('ready', () => {
                    this.retrieveStories();
                });
            },
            retrieveStories() {
                this.$localStories.find({
                    selector: {project: { $eq: this.$store.getters.getSelectedProject }},
                    sort: ['_id']
                }).then((result) => {
                    var stories = [];
                    for(var a=0; a<result.docs.length; a++) {
                        stories.push(result.docs[a]);
                    }
                    this.$store.dispatch('SetStories', stories);    
                }).catch((err) => {
                    console.log(err);
                });
            },
            getTabCounts() {
                console.log('b');
                /*
                
                */
            },
            capital_letter(str) {
                str = str.split(" ");

                for (var i = 0, x = str.length; i < x; i++) {
                    str[i] = str[i][0].toUpperCase() + str[i].substr(1);
                }

                return str.join(" ");
            }
        }
    }
</script>