<template>
    <router-link :to="{name: 'showstory', params: { id: this.item._id }}" class="box">
        <div v-if="item.priority == 1" class="is-pulled-right" data-tooltip="Blocker">
            <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
        </div>
        
        <div v-if="item.priority == 2" class="is-pulled-right" data-tooltip="Critical">

        </div>

        <div v-if="item.priority == 3" class="is-pulled-right" data-tooltip="High">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>
        
        <div v-if="item.priority == 4" class="is-pulled-right" data-tooltip="Medium">

        </div>
        
        <div v-if="item.priority == 5" class="is-pulled-right" data-tooltip="Low">

        </div>
        
        <div v-if="item.priority == 6" class="is-pulled-right" data-tooltip="Meh">

        </div>
        
        <div style="text-transform: capitalize; font-weight: bold;">{{item.project}}</div>
        
        <div class="columns">
            <div class="column is-one-third">
                {{formatDate}}
            </div>
            <div class="column is-one-third">
                <span class="tag is-light">{{item.owner}}</span>
            </div>
            <div class="column">
                <span v-if="item.assigned != ''" class="tag is-primary">{{item.assigned}}</span>
                <span v-else class="tag is-warning">Unassigned</span>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-half">
                <span class="subtitle">{{item.title}}</span>
            </div>
            <div class="column">
                {{slugline}}
            </div>
        </div>
    </router-link>
</template>
<script>
    export default {
        props: ['item', 'status'],
        methods: {
        },
        computed: {
            formatDate() {
                return moment(this.item.created_at).format('ddd, MMM, Do YYYY h:mm:ss a');
            },
            slugline() {
                return this.item.description.substr(0, 30)+"...";
            }
        }
    }
</script>
<style>
    /* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
</style>