<template>
    <div class="container">
        <div v-if="response.show" class="notification" v-bind:class="{ 'has-background-success' : response.status, 'has-background-danger' : !response.status }" style="color: white;">
            <button class="delete" v-on:click="closeAlert"></button>
            {{response.message}}
        </div>
        <div class="columns">
            <div class="column is-three-quarters">
                <p class="has-text-weight-semibold">{{story.project}}</p>
                <div class="box">
                    <div class="is-pulled-right">
                        <div class="has-text-centered">
                            <p>Priority</p>
                            
                            <div class="field">
                                <div class="select">
                                    <select v-model="priority" @change="savePriority">
                                        <option value=''>Select...</option>
                                        <option v-for="(item, id) in priorities" :key="id" :value="item">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="is-pulled-right">
                        <div class="has-text-centered">
                            <p>Status</p>
                            
                            <div class="field">
                                <div class="select">
                                    <select v-model="status" @change="saveStats">
                                        <option value=''>Select...</option>
                                        <option v-for="(item, id) in statuses" :key="id" :value="item">{{item}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class='title'>{{story.title}}</p>
                    <br />
                    <div v-if="isConflict" class="is-pulled-right">
                        <router-link :to="{ name: 'storyconflict', params: { id: this.id }}">
                        <i class="fa fa-exchange has-text-danger" aria-hidden="true"></i>
                        </router-link>
                    </div>
                    <div class="content" style="overflow-x: scroll;" v-html="story.description"></div>
                </div>
                <div class="box shadow">
                    <p class="subtitle">Files:</p>
                    <div class="columns is-multiline">
                        <files v-for="(item, idx) in attachments" :key="idx" :name="idx" :item="item" :doc="story"></files>
                    </div>
                    <file-upload :story="story"></file-upload>
                </div>
                <div class="box">
                    <div class="is-pulled-right">
                        <a class="button is-dark is-small" @click="showTaskForm">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            &nbsp;New Task
                        </a>
                    </div>
                    <p class="subtitle">Tasks</p>
                    <table class="table is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Priority</th>
                                <th>Assigned</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="taskForm">
                                <td>
                                    <div class="field">
                                        <div class="control">
                                            <input v-model="newTask.title" class="input" type="text" placeholder="title" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="select">
                                            <select v-model="newTask.priority">
                                                <option value=''>Select...</option>
                                                <option v-for="(item, id) in priorities" :key="id" :value="item">{{item}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="control">
                                            <select class="input is-select" v-model="newTask.assigned">
                                                <option value=''>Select...</option>
                                                <option v-for="person in people" :key="person.name" :value="person.name">{{person.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="select">
                                            <select v-model="newTask.status">
                                                <option value=''>Select...</option>
                                                <option v-for="(item, id) in statuses" :key="id" :value="item">{{item}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button class="button is-primary" @click="saveTask">
                                        Save
                                    </button>
                                </td>
                            </tr>
                            <tasks v-for="(item, idx) in story.tasks" :key="idx" :task="item" :story="story" :id="idx"></tasks>
                        </tbody>
                    </table>
                </div>
                <div class="box">
                    <p class="subtitle">Comments</p>
                    <comments v-for="(item, idx) in story.comments" :key="idx" :item="item"></comments>
                    <create-comment :storyId="id"></create-comment>
                </div>
            </div>
            <div class="column" style="background-color: #B0E0E6; border-radius: 7px; border-color: #B0E0E6;">
                <div class="columns">
                    <div class="column is-4">
                        Created:
                    </div>
                    <div class="column">
                        <p class="has-text-weight-semibold">{{createdDate}}</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-4">
                        Updated:
                    </div>
                    <div class="column">
                        <p class="has-text-weight-semibold">{{updatedDate}}</p>
                    </div>
                </div>
                <div class="columns" style="background-color: white; border-bottom: 1px solid #ddd;">
                    <div class="column is-4">
                        <p class="has-text-weight-semibold">Owner: </p>
                    </div>
                        <div class="column">{{story.owner}}</div>
                </div>
                <div class="columns" style="background-color: white;">
                    <div class="column is-4">
                        <p class="has-text-weight-semibold">Assigned:</p>
                    </div>

                    <div class="column">
                        <p v-show="!showAssigned(fieldAssigned)" @click="focusAssigned(fieldAssigned)" style="cursor: pointer">{{fieldAssigned}} <i class="fa fa-pencil" aria-hidden="true"></i></p>
                        <div v-show="showAssigned(fieldAssigned)" class="field has-addons">
                            <div class="control">
                                <select class="input is-select is-required" v-model="newAssigned" v-show="showAssigned(fieldAssigned)" @focus="focusAssigned(fieldAssigned)">
                                    <option value=''>Select...</option>
                                    <option v-for="person in people" :key="person.name" :value="person.name">{{person.name}}</option>
                                </select>
                            </div>
                            <div class="control">
                                <a @click="blurAssigned" class="button is-info">
                                    Save
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns" style="background-color: white; border-top 1px solid #ddd;">
                    <div class="column is-4">
                        <p class="has-text-weight-semibold">Relates To:</p>
                    </div>
                    <div class="column">
                        <div class="field has-addons">
                            <select class="input is-select" v-model="relatesTo">
                                <option value=''>Select...</option>
                                <option v-for="(item, idx) in projectStories" :key="idx" :value="item.title">{{item.title}}</option>
                            </select>
                            <div class="control">
                                <a class="button is-info">
                                    Save
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" style="font-size: .8rem;">
                    <p class="has-text-centered">Time</p>
                    <table class="table">
                        <tr>
                            <td>
                                <label class="label">Due Date</label>
                            </td>
                            <td></td>
                            <td>
                                <div class="control">
                                    <input class="input is-small" type="text" placeholder="Due Date" v-model="storytime.due">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <a @click="saveTime" class="button is-info is-small">
                                Save
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" v-bind:class="{ 'is-active': modal }">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Title</p>
                        <button class="delete" aria-label="delete" @click="closeModal"></button>
                    </header>
                    <section class="modal-card-body">
                        content here
                    </section>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import comments from '@/components/comments/list.vue';
    import tasks from '@/components/tasks/list.vue';
    import CreateComment from '@/components/comments/create.vue';
    import Files from '@/components/stories/files.vue';
    import FileUpload from '@/components/stories/fileupload.vue';
    import axios from 'axios';
    
    export default {
        components: { comments, CreateComment, tasks, Files, FileUpload },
        props: ['id'],
        data() {
            return {
                modal: false,
                story: {},
                attachments: [],
                newComment: false,
                editAssigned: '',
                fieldAssigned: '',
                newAssigned: '',
                priority: '',
                status: '',
                relatesTo: '',
                isConflict: false,
                response: {
                    show: false,
                    status: '',
                    message: '',
                    error: ''
                },
                people: [],
                taskForm: false,
                newTask: {
                    title: '',
                    priority: '',
                    assigned: '',
                    status: 'New'
                },
                storytime: {
                    due: '',
                },
                projectStories: []
            }
        },
        mounted() {
            this.retrieveStory();

            // setup sync?
            this.$localStories.liveFind({
                selector: {project: this.$store.getters.getSelectedProject},
                sort: [{ priority: 'desc'}],
                aggregate: true
            }).on('update', (update, aggregate) => {
                this.retrieveStory();
            }).on('ready', () => {
                console.log('update complete');
            });

            // get people
            this.getPeople();
            
            // get story titles
            this.listStories();
        },
        computed: {
            createdDate() {
                return moment(this.story.created_at).format('ddd, MMM, Do YYYY h:mm:ss a');
            },
            updatedDate() {
                return moment(this.story.updated_at).format('ddd, MMM, Do YYYY h:mm:ss a');
            },
            priorities() {
                return this.$store.getters.getPriorities;
            },
            statuses() {
                return this.$store.getters.getStatuses;
            }
        },
        methods: {
            savePriority() {
                this.$localStories.get(this.id).then((doc) => {
                    doc.priority = this.priority; // set new value
                    doc.updated_at = moment().utc().valueOf(); // set updated date
                    return this.$localStories.put(doc);
                }).then((response) => {
                    if (response.ok) {
                        this.response.show = true;
                        this.response.status = true;
                        this.response.message = "Record updated";
                        
                        var url = "https://hooks.slack.com/services/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";
                        var user = JSON.parse(localStorage.getItem('user'));
                        var message = {
                            "text": user.name+" set priority on "+this.story.title+" in project "+this.story.project+" to "+this.priority
                        }
                        
                        axios.post(url, JSON.stringify(message))
                            .then((response) => {
                                // message posted to slack
                        })
                    } else {
                        this.response.show = true;
                        this.response.status = false;
                        this.response.message = "An error occurred saving";
                        this.response.error = response.error;
                    }
                }).catch((err) => {
                    console.log(err);
                })
            },
            saveStats() {
                this.$localStories.get(this.id).then((doc) => {
                    doc.status= this.status; // set new value
                    doc.updated_at = moment().utc().valueOf(); // set updated date
                    return this.$localStories.put(doc);
                }).then((response) => {
                    if (response.ok) {
                        this.response.show = true;
                        this.response.status = true;
                        this.response.message = "Record updated";
                        
                        var url = "https://hooks.slack.com/services/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";
                        var user = JSON.parse(localStorage.getItem('user'));
                        var message = {
                            "text": user.name+" set status on "+this.story.title+" in project "+this.story.project+" to "+this.status
                        }
                        
                        axios.post(url, JSON.stringify(message))
                            .then((response) => {
                                // message posted to slack
                        })
                    } else {
                        this.response.show = true;
                        this.response.status = false;
                        this.response.message = "An error occurred saving";
                        this.response.error = response.error;
                    }
                }).catch((err) => {
                    console.log(err);
                })
            },
            focusAssigned(name) {
                this.editAssigned = name;
            },
            blurAssigned() {
                this.editAssigned = this.newAssigned;
                // push to db
                this.$localStories.get(this.id).then((doc) => {
                    doc.assigned = this.newAssigned; // set new value
                    doc.updated_at = moment().utc().valueOf(); // set updated date
                    return this.$localStories.put(doc);
                }).then((response) => {
                    if (response.ok) {
                        this.response.show = true;
                        this.response.status = true;
                        this.response.message = "Record updated";
                        
                        var url = "https://hooks.slack.com/services/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";
                        var user = JSON.parse(localStorage.getItem('user'));
                        var message = {
                            "text": user.name+" assigned "+this.story.title+" in project "+this.story.project+" to "+this.newAssigned
                        }
                        
                        axios.post(url, JSON.stringify(message))
                            .then((response) => {
                                // message posted to slack
                        });

                        // if this is newly assigned, inform the assignee if possible
                        var users = this.$store.getters.getUsers;
                        var inbox = '';
                        
                        _.forEach(users, (u) => {
                            if (this.newAssigned == u.name) {
                                inbox = u.key;
                            }
                        });
                        
                        // try to send
                        if (inbox) {
                            var message = this.story.owner+" assigned "+this.story.title+" to you. (http://agile.overlayconsulting.co/stories/view/"+this.id+")";
							var url = "https://slack.com/api/chat.postMessage?token=xoxp-295154775665-296736202695-524346224503-c777372b384400158bc02484166574ef&as_user=false&channel="+inbox+"&text="+JSON.stringify(message);                            
                            
                            axios.post(url)
                                .then((response) => {
                                    console.log(response.data);
                            });
                        }                        
                    } else {
                        this.response.show = true;
                        this.response.status = false;
                        this.response.message = "An error occurred saving the document";
                        this.response.error = response.error;
                    }
                    this.editAssigned = '';
                    this.fieldAssigned = self.newAssigned;
                    this.newAssigned = '';
                }).catch((err) => {
                    console.log(err);
                })
            },
            showAssigned(name) {
                return (this.fieldAssigned == '' || this.editAssigned == name);
            },
            closeAlert() {
                this.response.show = false;
            },
            setComment() {
                this.newComment = true;
            },
            retrieveStory() {
                this.$localStories.get(this.id, { conflicts: true }).then((doc) => {
                    if (doc._conflicts) {
                        this.isConflict = true;
                    }
                    this.story = doc;
                    this.fieldAssigned = doc.assigned;
                    this.fieldPriority = doc.priority;
                    this.fieldStatus = doc.status;
                    this.storytime.due = doc.due_date;
                    this.priority = doc.priority;
                    this.status = doc.status;
                    
                    // set attachments aside
                    this.attachments = doc._attachments;
                    
                    // save to store
                    this.$store.dispatch('SetCurrentStory', doc);
                }).catch ((err) => {
                    console.log(err);
                });
            },
            getPeople() {
                this.$people.allDocs({
                    include_docs: true,
                    attachements: false
                }).then((result) => {
                    var people = [];
                    for (var a=0; a<result.rows.length; a++) {
                        people.push({
                            name: result.rows[a].doc.name
                        });
                    }
                    this.people = people;
                }).catch((err) => {
                    console.log(err);
                });
            },
            showTaskForm() {
                this.taskForm = true;
            },
            saveTask() {
                var tasks = this.story.tasks;

                // add in some validation please

                tasks.push(this.newTask);

                // save to document
                var story = this.$localStories.get(this.story._id).then((doc) => {
                    doc.tasks = tasks; // replace all tasks as an object?
                    doc.updated_at = moment().utc().valueOf();
                    return this.$localStories.put(doc); // save
                })

                this.taskForm = false;
            },
            upload() {
                var fileInfo = document.getElementById('fileList').files[0];

                this.$localStories.putAttachment(this.story._id, fileInfo.name, this.story._rev, fileInfo, fileInfo.type ).then((doc) => {
                    return this.$localStories.getAttachment(doc, fileInfo.name);
                })
            },
            saveTime() {
                // load the story and update times to the story
                var story = this.$localStories.get(this.story._id).then((doc) => {
                    doc.due_date = this.storytime.due;
                    doc.updated_at = moment().utc().valueOf();
                    return this.$localStories.put(doc); // save
                }).then((resp) => {
                    if (resp.ok) {
                        this.response.status = 'ok';
                        this.response.message = 'Saved';
                        this.response.show = true;
                    }
                });
            },
            closeModal() {
                this.modal = false;
            },
            listStories() {
                var stories = [];
                this.$localStories.find({
                    selector: { project: this.$store.getters.getSelectedProject }
                }).then(result => {
                    _.forEach(result.docs, (d) => {
                        var sty = {};
                        sty.title = d.title;
                        sty.status = d.status;
                        stories.push(sty);
                    });
                    
                    this.projectStories = stories;
                }).catch(e => {
                    console.log(e);
                });
            }
        },
        watch: {
            story() {
                // whenever the story changes, lets update the master in Vuex
                this.$store.dispatch('SetCurrentStory', this.story);
            }
        }
    }
</script>
