<template>
    <div>
        {{name}}
        <p v-if="count > 0" class="is-pulled-right badge">{{count}}</p>
    </div>
</template>
<script>
    export default {
        props: ['name', 'status'],
        data() {
            return {
                count: 0,
            }
        },
        mounted () {
            this.$localStories.find({
                selector: {
                    project: { $eq: this.$store.getters.getSelectedProject },
                    status: this.status
                },
                aggregate: true
            }).then((result) => {
                this.count = result.docs.length;
            }).catch((err) => {
                console.log(err);
            });
        }
    }
</script>
<style>
    .badge {
        color: white;
        background-color: #7b7b7b;
        border-radius: 25px;
        text-align: center;
        padding: 2px 6px;
        font-size: .6rem;
        margin-top: -5px;
        margin-left: 8px;
        font-weight: 700;
    }
</style>