<template>
    <div>
        <Lineitem v-for="(item, idx) in stories" :key="idx" :item="item" :status="status"></Lineitem>
    </div>
</template>
<script>
    import Lineitem from '@/components/stories/lineitem.vue';
    export default {
        components: {
            Lineitem
        },
        props: ['status'],
        data()
        {
            return {
                // You could populate these from any source, like a database
                
            }
        },
        methods: {
            
        },
        computed: {
            stories() {
                return this.$store.getters.getStories;
            },
            project() {
                return this.$store.getters.getSelectedProject;
            }
        },
    }
</script>