<template>
    <div>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Create User
                </p>
            </header>
            <div class="card-content">

                <!-- name -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Name</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input v-model="name" class="input" type="text" placeholder="Name">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- email -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-expanded">
                            <p class="control is-expanded has-icons-left">
                                <input v-model="email" class="input" type="email" placeholder="email address">    
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope-o"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- group -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Group</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select v-model="group">
                                        <option>Internal</option>
                                        <option>External</option>
                                        <option>Guest</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- restricted to specific project?-->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Project</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select v-model="project">
                                        <option>All</option>
                                        <option v-for="item in projects" :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <footer class="card-footer">
                <a class="card-footer-item" @click="saveNew">Save</a>
                <a class="card-footer-item">Delete</a>
            </footer>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['person'],
        data: function () {
            return {
                name: '', 
                email: '',
                group: '',
                project: '',
                projects: []
            }
        },
        mounted() {
            this.$projects.allDocs({
                include_docs: true,
                attachments: false,
            }).then((result) => {
                var prjs = [];
                for (var a=0; a<result.rows.length; a++) {
                    prjs.push({id: result.rows[a].id, name: result.rows[a].doc.name});
                }
                
                this.projects = prjs;
            }).catch((err) => {
                console.log(err);
            });
        }, 
        methods: {
            saveNew() {
                // is there anyway to insert the user into the _users table here?
                
                var person = {};
                person._id = String(moment().utc().valueOf());
                person.name = this.name;
                person.email = this.email;
                person.group = this.group;
                person.project = this.project;
                
                this.$people.put(person);
            },
            deleteMe() {
                var ans = confirm('Are you sure you want to delete this person?');
                if (ans) {
                    this.$people.get(this.person.id).then((doc) => {
                        this.$people.remove(doc);
                    }).catch((err) => {
                        console.log(err);
                    });
                }
            }
            
        }
    }
</script>