<template>
    <div>
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Groups</th>
                    <th>Project</th>
                </tr>
            </thead>
            <tbody>
                <person v-for="(person, idx) in people" :key="idx" :person="person"></person>
            </tbody>
        </table>
    </div>
</template>
<script>
    import person from '@/components/people/person.vue';
    export default {
        components: {
            person
        },
        data() {
            return {
                people: []
            }
        },
        mounted() {
            this.getPeople();
        },
        methods: {
            getPeople() {
                this.$people.allDocs({
                    include_docs: true,
                    attachements: false
                }).then((result) => {
                    var people = [];
                    for (var a=0; a<result.rows.length; a++) {
                        people.push({
                            id: result.rows[a].id, 
                            name: result.rows[a].doc.name,
                            email: result.rows[a].doc.email,
                            group: result.rows[a].doc.group,
                            project: result.rows[a].doc.project,
                        });
                    }
                    this.people = people;
                }).catch((err) => {
                    console.log(err);
                })
            }
        }
    }
</script>