<template>
    <tr>
        <td>{{person.name}}</td>
        <td>{{person.email}}</td>
        <td>{{person.group}}</td>
        <td>{{person.project}}</td>
    </tr>
</template>
<script>
    export default {
        props: ['person']
    }
</script>