<template>
    <div>
        <p class="title">Profile</p>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Create User
                </p>
            </header>
            <div class="card-content">

                <!-- name -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Name</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input v-model="name" class="input" type="text" placeholder="Name">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- email -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-expanded">
                            <p class="control is-expanded has-icons-left">
                                <input v-model="email" class="input" type="email" placeholder="email address">    
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope-o"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- group -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Group</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select v-model="group">
                                        <option>Internal</option>
                                        <option>External</option>
                                        <option>Guest</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- restricted to specific project?-->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Project</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select v-model="project">
                                        <option>All</option>
                                        <option v-for="item in projects" :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="field is-horizontal has-addons">
                    <div class="field-label is-normal">
                        <label class="label">Password</label>
                    </div>
                    <div class="field-body">
                        <div class="control has-icons-left is-expanded">
                            <input class="input" type="password" v-model="password">
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <div class="control">
                            <a class="button is-info">
                                Change
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <a class="card-footer-item" @click="saveNew">Save</a>
            </footer>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                name: '',
                email: '',
                password: '',
                project: '',
                group: '',
                projects: []
            }
        },
        mounted() {
            var user = JSON.parse(localStorage.getItem("user"));
            this.name = user.name;
            this.email = user.email
            this.password = 'gobbldy-gook';
            
            this.$people.find({
                selector: {email: { $eq: this.email }},
                sort: ['_id']
            }).then((result) => {
                if (result.docs.length > 0) {
                    this.group = result.docs[0].group;
                    this.project = result.docs[0].project;
                }
            }).catch((err) => {
                console.log(err);
            });
        },
        methods: {
            saveNew() {
                // is there anyway to insert the user into the _users table here?
                
                var person = {};
                person._id = String(moment().utc().valueOf());
                person.name = this.name;
                person.email = this.email;
                person.group = this.group;
                person.project = this.project;
                
                //this.$people.put(person);
            }
        }
    }
</script>