<template>
    <div>
        <div class="is-pulled-right">
            <a href="/team/create" class="button is-dark">
                <i class="fa fa-plus" aria-hidden="true"></i>
                &nbsp;New
            </a>
        </div>
        <p class="title">Team</p>
        <br />
        <router-view></router-view>
        <hr />
        <people></people>
        
    </div>
</template>
<script>
    import people from '@/components/people/list.vue';
    export default {
        components: {
            people
        },
    }
</script>