<template>
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">/</a></li>
            <li v-for="item, idx in breadcrumbs" :key="idx"><a :href="item">{{item}}</a></li>
        </ul>
    </nav>
</template>
<script>
    export default {
        data() {
            return {
                breadcrumbs: []
            }
        },
        mounted() {
            this.breadcrumbs = this.$route.meta.breadcrumb;
        }
    }
</script>