<template>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="#">
            <img class="image is-64x64" src="./../../../assets/img/Agile-CoE-2.png" />
            </a>
            <a role="button" class="navbar-burger" arial-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Stories
                    </a>

                    <div class="navbar-dropdown">
                        <router-link class="navbar-item" to="/stories/list">Current</router-link>
                        <router-link class="navbar-item" to="/stories/conflicts">Conflicts</router-link>
                        <router-link class="navbar-item" to="/stories/byUser">Mine</router-link>
                        <router-link class="navbar-item" to="/stories/archived">Archived</router-link>
                        <hr class="navbar-divider">
                        <router-link class="navbar-item" to="/stories/create">New</router-link>
                    </div>
                </div>
                
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Tasks
                    </a>

                    <div class="navbar-dropdown">
                        <router-link class="navbar-item" to="/tasks">My Tasks</router-link>
                    </div>
                </div>

                <router-link class="navbar-item" to="/reports">Reports</router-link>
                <router-link class="navbar-item" to="/wiki">Wiki</router-link>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <span v-if="project != ''" :class="{'has-text-danger': project == 'No Project Selected'}" style="text-transform: capitalize">Current Project: {{project}}</span>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link"><i class="fa fa-folder-open-o" aria-hidden="true"></i>&nbsp; Projects</a>
                    <div class="navbar-dropdown">
                        <div class="navbar-item">
                            <router-link class="menuitem" to="/projects/create"><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Project</router-link>
                        </div>
                        <hr class="navbar-divider"/>
                        <project-list></project-list>
                        <hr class="navbar-divider"/>
                        <div class="navbar-item">
                            <a href="/projects/manage" class="menuitem"><i class="fa fa-gears" aria-hidden="true"></i> Manage Project</a>
                        </div>
                    </div>
                </div>
                <div v-if="getUserName" class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" style="text-transform: capitalize">
                        {{getUserName}}
                    </a>

                    <div class="navbar-dropdown">
                        <router-link to="/profile" class="navbar-item">Profile</router-link>
                        <router-link to="/team" class="navbar-item">Team</router-link>
                        <router-link to="/about" class="navbar-item">About</router-link>
                        <router-link to="/logout" class="navbar-item">Log Out</router-link>
                    </div>
                </div>
                <div class="navbar-item" v-else>
                    <router-link to="/login" class="navbar-item">Login</router-link>
                </div>
            </div>
        </div>
    </nav>
</template>
<script>
    import ProjectList from '@/components/projects/projects_list.vue';
    
    export default {
        name: 'ProjectsList',
        components: {
            ProjectList
        },
        data: function () {
            return {
   
            }
        },
        computed: {
            getUserName() {
                if ((localStorage.getItem("user") != null) && (localStorage.getItem("Auth"))) {
                    var user = JSON.parse(localStorage.getItem('user'));
                    return user.name;
                } 
                return false;
            },
            project() {
                return this.$store.getters.getSelectedProject;
            }
        }
    }
</script>