<template>
    <div>
        <h2 class="subtitle">Edit Wiki Entry</h2>
        <div v-if="error">
            <ul class="has-text-danger">
                <li>{{error}}</li>
            </ul>
        </div>

        <div class="columns">
            <div class="column is-two-thirds">
                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="" v-model="title">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Article</label>
                    <div class="control">
                        <ckeditor :editor="editor" v-model="contents" :config="editorConfig" class="editor"></ckeditor>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Project</label>
                    <div class="control">
                        <input class="input" type="text" disabled :value="currentProject" />
                    </div>
                </div>
                
                <div class="field is-expanded">
                    <label class="label">Visibility</label>
                    <div class="select">
                        <select class="input" v-model="visible">
                            <option>Public</option>
                            <option>Private</option>
                        </select>
                    </div>
                </div>
                
                <div class="field is-expanded">
                    <label class="label">Parent</label>
                    <div class="select">
                        <select class="input" v-model="parent">
                            <option value=''>Select...</option>
                            <option v-for="(item, idx) in articles" :key="idx" :value="item._id"s>{{item.title}}</option>
                        </select>
                    </div>
                </div>
                
                
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" v-on:click="save">Save</button>
                    </div>
                </div>
                
                
            </div>
        </div>

    </div>
</template>
<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    export default {
        data() {
            return {
                articles: [],
                id: '',
                rev: '',
                title: '',
                contents: '',
                visible: 'Public',
                parent: '',
                error: '',
                editor: ClassicEditor,
                editorConfig: {
                    
                }
            }
        },
        mounted() {
            // get articles for parent assignment
            this.$localWiki.find({
                selector: {
                    project: {
                        $eq: this.$store.getters.getSelectedProject
                    }
                },
                aggregate: true
            }).then((result) => {
                _.forEach(result.docs, (d) => {
                    this.articles.push(d);
                })
            }).catch((err) => {
                console.log(err);
            });
            
            // get current article to edit
            this.$localWiki.get(this.$route.params.id).then((doc) => {
                this.id = doc._id;
                this.rev = doc._rev;
                this.title = doc.title;
                this.contents = doc.contents;
                this.visible = doc.visibility;
                this.parent = doc.parent;
            });
        },
        computed: {
            currentProject() {
                return this.$store.getters.getSelectedProject;
            },
            owner: {
                get() {
                    var user = JSON.parse(localStorage.getItem('user'));
                    return user.name;
                },
                set() {
                    // um?
                }
            },
        },
        methods: {
            save() {
                var article = {};
                article._id = this.id;
                article._rev = this.rev;
                article.title = this.title;
                article.contents = this.contents;
                article.visibility = this.visible;
                article.project = this.currentProject;
                article.lastUpdateBy = this.owner;
                article.parent = this.parent;
                article.children = [];
                article.updated_at = moment().utc().valueOf();
                
                if (this.title.length < 5) {
                    this.error = 'Title not long enough';
                    return;
                }
                
                if (this.contents.length < 4) {
                    this.error = 'Article not descriptive enough';
                    return;
                }

                this.$localWiki.put(article).then((resp) => {
                    if (resp.ok) {
                        this.$router.push('/wiki');
                    } else {
                        console.log('error '+resp);
                    }
                })
            }
        }
    }
</script>
<style>
    .ck-content {
        height: 500px;
        min-height: 500px;
    }
</style>