<template>
    <div>
        <div class="is-pulled-right">
            <i class="fa fa-pencil" aria-hidden="true" @click="editWiki"></i>
        </div>
        <p class="subtitle">{{article.title}}</p>
        <div class="box">
            <p>Related</p>
            
            <nav v-if="article.parent != ''" class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <a @click="wikiback">
                            <span class="icon is-small">
                                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                            </span>
                            <span>Back</span>
                        </a>
                    </li>
                </ul>
            </nav>

            
            <span style="margin-right: 10px;" v-if="subarticles != ''" v-for="(item, idx) in subarticles" :key="idx">
                <a @click="showWiki(item)">{{item.title}}</a>
            </span>
        </div>
        <div class="content" v-html="article.contents"></div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                id: '',
                article: {},
                subarticles: []
            }
        },
        created() {
            this.$bus.$on('open-wiki-article', ($event) => {
                this.article = $event;
                this.id = $event._id;
            })
        },
        watch: {
            article() {
                this.subarticles = [];
                // find child articles
                this.$localWiki.find({
                    selector: {
                        project: {
                            $eq: this.$store.getters.getSelectedProject
                        },
                        parent: {
                            $eq: this.id
                        }
                    },
                    aggregate: true
                }).then((result) => {
                    _.forEach(result.docs, (d) => {
                        this.subarticles.push(d);
                    })
                }).catch((err) => {
                    console.log(err);
                });
            }
        },
        methods: {
            showWiki(item) {
                this.$bus.$emit('open-wiki-article', item);
            },
            wikiback() {
                var parent = this.article.parent;
                var wiki = this.$localWiki.get(parent).then((doc) => {
                    this.$bus.$emit('open-wiki-article', doc);
                });
            },
            editWiki() {
                this.$router.push('/wiki/edit/'+this.id);
            }
        }
    }
</script>