<template>
    <div>
        <div class="panel">
            <p class="panel-heading">
                Articles
            </p>
            <p class="panel-tabs">
                <a class="is-active">all</a>
                <a>public</a>
                <a>private</a>
            </p>
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input class="input is-small" type="text" placeholder="search" v-model="search" @change="goSearch">
                    <span class="icon is-small is-left">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </p>
            </div>
          
            <a v-if="item.parent == ''" @click="showWiki(item)" class="panel-block" v-for="(item, idx) in articles" :key="idx">
                <span class="panel-icon">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </span>
                {{item.title}}
            </a>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                articles: [],
                search: ''
            }
        },
        mounted() {
            this.getArticles();
        },
        methods: {
            showWiki(item) {
                this.$bus.$emit('open-wiki-article', item);
            },
            goSearch() {
                if (this.search.length == 0) {
                    // reset full list from db
                    this.articles = [];
                    this.getArticles();
                    
                } else {
                    var keyword = new RegExp(this.search, "i");
                    var topics =  this.articles;
                    var filtered = [];
                    _.forEach(topics, (t) => {
                        if (t.title.match(keyword)) {
                            filtered.push(t);
                        }
                    });

                    this.articles = filtered;
                }
            },
            getArticles() {
                this.$localWiki.find({
                selector: {
                    project: {
                        $eq: this.$store.getters.getSelectedProject
                    }
                },
                aggregate: true
            }).then((result) => {
                _.forEach(result.docs, (d) => {
                    this.articles.push(d);
                })
            }).catch((err) => {
                console.log(err);
            });
            }
        }
    }
</script>