<template>
    <div class="container">
        <div class="title">Birds eye view</div>
        <p>
            Overly Agile is an offline first, simple agile platform for managing small
            teams with a few projects and a simplified approach to agile methodologies.
            <br />
            Existing tools for tracking projects, issues, and work have become
            legacy applications.  Huge monstrosities that come with a price tag
            and some serious complexity that in most cases just isn't needed.
        </p>
        <p>
            Another feature/benefit lost with the legacy applications is the 
            offline first or disconnected approach.  While it might feel safe 
            to assume we'll always be online, the reality is still far from the
            truth.  Network outages still plague today's world, and online access
            with every device gets expensive quickly.  And what if you're desk
            happens to exist in a wifi or wireless dead spot?  Lets accept that
            buildings weren't built 50 years ago with today's requirements in mind.
        </p><p>
            Popular version control tools like git are fantastic tools for teams
            because they allow us to work on the same projects, and even the same
            files as our teammate in sync.  Yet office tools and mission critical 
            applications like bug reporting tools, agile tools aren't given a 
            second thought.  Either they're in the cloud and away from whatever
            damage might be done, along with a significant expense to maintain 
            that account.  Or they're lost when disaster strikes.
        </p><p>
            Overly Agile is built with todays frameworks and popular languages
            for a SPA experience, in a real time dynamic environment.  When tasks
            and bugs are updated, they're updated for everyone. In real time. 
        </p>
        <p>
            Overlay Agile's simplicity focuses on projects with stories, that
            can contain tasks and attachments as well as a comment history from
            the team over what has been done, how, and when.
            <br />
            Attributes for a story or task cannot be edited.  This is a deviation
            from most tools of this nature.  A story title and description should
            not be changed from when it was created.  If it's wrong or inaccurate, 
            then a new story should be created and corrected with the wrong story
            stuffed away.  
            <br />
            Why?
            <br />
            Most of the time, a project's story is created accurately, however
            due to any number of reasons, such as the client didn't like it and 
            wants something else, to the desired solution couldn't be done the 
            way the client wanted, these result in scope creep.  In Agile, scope
            creep is acceptable, as it should be, however it should also be
            documented and recorded.  Not hidden in stories that have been
            renamed or redefined with the same 5-10 hours logged under them.
        </p>
        <p>
            Simplicity is a key concept in many of the tools we use, the more simplistic
            the more a tool might be used or utilized over other tools.  The easier
            it is to train additional people on using that tool.  
        </p>
    </div>
</template>