<template>
    <div>
        <div class="title">Reports</div>
        <report-list></report-list>
    </div>
</template>
<script>
    import ReportList from '@/components/reports/reports_list.vue';
    export default {
        name: 'Reports',
        components: {
            ReportList
        }
    }
</script>