<template>
    <div class="box">
        <ckeditor :editor="editor" v-model="comment" :config="editorConfig" class="editor" textarea placeholder="say something constructive, be polite">
        </ckeditor>
        <div class="field">
            <div class="control has-icons-left">
                <input class="input" type="text" placeholder="time" v-model="time">
                <span class="icon is-small is-left">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </span>
            </div>
            <p class="help is-danger">Add task time in decimals to .25 of an hour</p>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" @click="save">Save</button>
            </div>
            <div class="control">
                <button class="button is-text">Cancel</button>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

    export default {
        props: ['storyId'],
        data() {
            return {
                comment: '',
                time: '',
                comments: [],
                story: {},
                editor: ClassicEditor,
                editorConfig: {}
            }
        },
        mounted() {
            var story = this.$localStories.get(this.storyId).then((doc) => {
                this.comments = doc.comments; 
                this.story = doc; // save whole story
            })
        },
        methods: {
            cancel() {
                // somehow set parent to false?
            },
            save() {
                // load the story and update comments to the story
                var comment = {};
                comment._id = String(moment().utc().valueOf());
                comment.story_id = this.storyId;
                comment.owner = this.owner;
                comment.comment = this.comment;
                comment.time = this.time;
                comment.created_at = moment().utc().valueOf();
                comment.updated_at = moment().utc().valueOf();
                this.time = '';
                this.comment = '';
                //this.comments.push(comment); // add comment to array of comments
                //this.comment = null; // emtpy field
                
                var story = this.$localStories.get(this.storyId).then((doc) => {
                    var comments = doc.comments; // get comments attributed to the story
                    comments.push(comment); // push this comment on
                    doc.comments = comments; // replace all comments as an object?
                    doc.updated_at = moment().utc().valueOf(); // update time
                    return this.$localStories.put(doc); // save
                }).then((resp) => {
                    if (resp.ok) {
                        var url = "https://hooks.slack.com/services/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";
                        var user = JSON.parse(localStorage.getItem('user'));
                        var message = {
                            "text": user.name+" posted a comment on "+this.story.title+" in project "+this.story.project
                        }
                        
                        axios.post(url, JSON.stringify(message))
                            .then((response) => {
                                //console.log(response);
                                //message posted to slack
                        });
                        
                        // get all users that have touched this story, owner, asignee, and any commenters
                        var users = [];
                        users.push(this.$store.state.current.story.owner);
                        users.push(this.$store.state.current.story.assigned);
                 
                        _.forEach(this.story.comments, (c) => {
                            users.push(c.owner);
                        });

                        // whom to send to
                        var inbox = users.filter((v, i, a) => a.indexOf(v) === i);
                        var users = this.$store.getters.getUsers;
                        _.forEach(inbox, (i) => {
                            _.forEach(users, (u) => {
                                if (i == u.name) {
                                    var message = "A comment was added to (http://agile.overlayconsulting.co/stories/view/"+this.storyId+" by "+comment.owner+")";
									var url = "https://slack.com/api/chat.postMessage?token=xoxp-295154775665-296736202695-524346224503-c777372b384400158bc02484166574ef&as_user=false&channel="+u.key+"&text="+JSON.stringify(message);
                                    axios.post(url)
                                    .then((response) => {
                                        //console.log(response.data);
                                    });
                                }
                            });
                        });
                    }
                });
            }
        },
        computed: {
            owner () {
                var user = JSON.parse(localStorage.getItem('user'));
                return user.name;
            }
        }
};
</script>
<style>
.ck-content {
  height: 500px;
  min-height: 500px;
}
</style>