<template>
    <div class="notification">
        <p class="is-pulled-right">{{formatDate}}</p>
        <p>{{item.owner}} ({{hours}} hrs)</p>
        <p class="content" v-html="item.comment"></p>
    </div>
</template>
<script>
    export default {
        props: ['item'],
        computed: {
            formatDate() {
                return moment.unix((this.item.updated_at/1000)).format('LLL');
            },
            hours() {
                if (this.item.time == '') {
                    return 0;
                } else {
                    return this.item.time;
                }
            }
        },
        methods: {

        }
    }
</script>