<template>
    <div>
        <navbar></navbar>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    import navbar from '@/components/nav/navbar.vue';
    import breadcrumbs from '@/components/nav/breadcrumbs.vue';
    
    export default {
        name: 'app',
        components: {
            navbar, 
            breadcrumbs
        }
    }
</script>