<template>
    <div class="container">
        <h1 class="title">My Tasks</h1>
        <br />
        <task-list></task-list>
    </div>
</template>
<script>
    import TaskList from '@/components/tasks/MyTasks.vue';
    export default {
        components: {
            TaskList
        }
    }
</script>
