<template>
    <div class="container">
        <div class="box">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input is-success" type="text" v-model="name">
                </div>
            </div>
            <div class="field">
                <label class="label">Owner</label>
                <div class="control">
                    <input class="input is-success" type="text" v-model="owner">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" v-on:click="saveNew">Save</button>
                </div>
                <div class="control">
                    <button class="button is-text">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                name: "",
                owner: "1"
            }
        },
        mounted () {
            // get list of people to display in a dropdown as project owners
        },
        methods: {
            saveNew() {
                var newProject = {};
                newProject._id = this.name;
                newProject.name = this.name;
                newProject.owner = this.owner;
                this.$projects.put(newProject);
            }
        }
    }
</script>
