<template>
    <div class="columns">
        <div class="column is-3">
            <div class="box" v-for="(item, key) in prjs">
                <p class="is-pulled-left">
                    <i class="fa fa-pencil-square-o" aria-hidden="true" @click="edit(key)"></i>
                </p>
                <p class="is-pulled-right">
                    <i class="fa fa-trash-o" aria-hidden="true" @click="remove(key)"></i>
                </p>
                <h4 class="has-text-centered" @click="about(key)">{{item.name}}</h4>
            </div>
        </div>
        <div class="column">
            <project-about :project="project"></project-about>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['projects'],
        data: function () {
            return {
                prjs: [],
                project: [],
                selected: 0,
                display: false
            }
        },
        watch: {
            projects() {
                this.prjs = this.projects;
            }
        },
        mounted() {
            this.prjs = this.projects;
        },
        methods: {
            about(id) {
                this.display = true;
                this.project = this.projects[id];
                this.selected = this.project.id;
            },
            remove(id) {
                // @todo confirm box to verify before removing project
                this.display = false;
                this.project = this.projects[id];
                this.selected = this.project.id;
            },
            edit(id) {
                this.display = false;
                this.project = this.projects[id];
                this.selected = this.project.id;
            }
        }
    }
</script>