<template>
    <div class="navbar-item menuitem project" v-on:click="setProject">{{item.name}}</div>
</template>
<script>
    export default {
        props: ['item'],
        methods: {
            setProject() {
                process.on('uncaughtException', function (error) {
                    console.error('an error happened')
                });
                this.$store.dispatch('SelectProject', this.item);
                // need an on change to update the stories page
                this.$router.go();
                this.$router.push('/stories/list');
            }
        }
    }
</script>
<style>
    .project {
        text-transform: capitalize;
        cursor: pointer;
    }
</style>