<template>
    <div>
        <project v-for="item in projects" :item="item" :key="item.id"></project>
    </div>
</template>
<script>
    import Project from '@/components/projects/project.vue';
    export default {
        components: {
            Project
        },
        data() {
            return {
                projects: []
            }
        },
        mounted()
        {
            this.$projects.allDocs({
                include_docs: true,
                attachments: false,
            }).then((result) => {
                var prjs = [];
                for (var a=0; a<result.rows.length; a++) {
                    prjs.push({id: result.rows[a].id, name: result.rows[a].doc.name});
                }
                
                this.projects = prjs;
            }).catch((err) => {
                console.log(err);
            });
        }
    }
</script>