<template>
    <div class="container">        
        <div class="is-pulled-right">
            <a href="/wiki/create" to="newwiki"  class="button is-dark is-small">
                <i class="fa fa-plus" aria-hidden="true"></i>
                &nbsp;New
            </a>
        </div>
        <h1 class="title">Wiki</h1>
        <router-view></router-view>
        <div class="columns">
            <div class="column is-one-quarter">
                <toc></toc>
            </div>
            <div class="column">
                <wikiview></wikiview>
            </div>
        </div>
    </div>
</template>
<script>
    import wiki from '@/database/wikis.js';
    import toc from '@/components/wikis/toc.vue';
    import wikiview from '@/components/wikis/show.vue';
    
    export default {
        components: { toc, wikiview }
    }
</script>
