<template>
    <div>
        <h1>Availability Report</h1>
        <p>Show availability for a time frame</p>
        <div class="box">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Date Range</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" type="date" placeholder="Start" v-model="start">
                            <span class="icon is-small is-left">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded has-icons-left has-icons-right">
                            <input class="input" type="date" placeholder="End" v-model="end">
                            <span class="icon is-small is-left">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary">
                        Submit
                    </a>
                </p>
            </div>
        </div>
        <div class="box">
            
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                start: '',
                end: '',
            }
        },
        mounted() {
            this.start = moment().format('YYYY-01-01');
            this.end =  moment().format('YYYY-12-31');
        },
        watch: {
            startDate() {
                this.getHoursData();
            },
            endDate() {
                this.getHoursData();
            }
        },
        methods: {
            getHoursData() {
                /*
                this.$localStories.liveFind({
                    selector: {
                        project: this.$store.getters.getSelectedProject,
                        
                    },
                    sort: [{ priority: 'desc'}],
                    aggregate: true
                }).on('update', (update, aggregate) => {
                    this.retrieveStories();
                }).on('ready', () => {
                    this.retrieveStories();
                });
                */
            }
        }
    }
</script>