<template>
    <div>
        <h1>Hours Report</h1>
        <p>Show reported hours for a time frame</p>
        <hr />
        <div class="box">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Date Range</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" type="date" placeholder="Start" v-model="start">
                            <span class="icon is-small is-left">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded has-icons-left has-icons-right">
                            <input class="input" type="date" placeholder="End" v-model="end">
                            <span class="icon is-small is-left">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            Total Hours: {{hours}}
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                start: '',
                end: '',
                username: '',
                hours: 0,
                comments: []
            }
        },
        mounted() {
            var user = JSON.parse(localStorage.getItem('user'));
            this.username = user.name;
            this.start = moment().startOf('month').format('YYYY-MM-DD');
            this.end = moment().endOf('month').format('YYYY-MM-DD');
            this.getHoursData();
        },
        watch: {
            start() {
                this.getHoursData();
            },
            end() {
                this.getHoursData();
            }
        },
        methods: {
            getHoursData() {
                this.$localStories.allDocs({
                    include_docs: true,
                    attachments: false
                }).then(result => {
                    this.hours = 0; // reset to zero
                    //this.comments = [];
                    var comments = [];
                    _.forEach(result.rows, (r) => {
                        _.forEach(r.doc.comments, (c) => {
                            var createdAt = moment(c.creatd_at);
                            var start = moment(this.start);
                            var end = moment(this.end);
                            
                            if (c.owner == this.username) {
                                if (moment(c.created_at).isBetween(this.start, this.end, 'day', [] )) {
                                    if ((typeof c.time !== 'undefined') && (c.time != '')) {
                                        this.hours = this.hours + parseFloat(c.time);
                                        // this could be more useful as an array of project, issue, time-tally
                                        comments.push(c);
                                    }
                                }
                            }
                        });
                    });
                    console.log(comments);
                }).catch(e => {
                    console.log(e);
                });
            }
        },
        computed: {

        }
    }
</script>
